<!DOCTYPE html>
<html ng-app="chrome.plugin.trello.checklist" style="height:500px;width:350px">
  <head>
    <title>Trello Checklists</title>
    <link rel="stylesheet" type="text/css" href="app/lib/angular-material/angular-material.min.css">
    <link rel="stylesheet" type="text/css" href="app/lib/angular-material-icons/angular-material-icons.css">
    <link rel="stylesheet" type="text/css" href="app/css/style.css">
  </head>
  <body ng-controller="TrelloChecklistsController as vm" layout="row" ng-cloak>
    <div layout="column" flex>
      <md-content flex>
        <div ng-if="!vm.isLoggedIn">
            <div ng-include="'app/views/login.html'"></div>
        </div>
        <div ng-if="vm.isLoggedIn">
          <div ng-include="'app/views/toolbar.html'"></div>
          <md-divider></md-divider>
          <show-trello-boards></show-trello-boards>
        </div>
      </md-content>
    </div>
    <script type="text/javascript" src="app/lib/jquery/dist/jquery.min.js"></script>
    <script type="text/javascript" src="app/utils/trello-client.js"></script>
    <script type="text/javascript" src="app/lib/angular/angular.min.js"></script> 
    <script type="text/javascript" src="app/lib/angular-animate/angular-animate.min.js"></script>
    <script type="text/javascript" src="app/lib/angular-aria/angular-aria.min.js"></script>
    <script type="text/javascript" src="app/lib/angular-material/angular-material.min.js"></script>
    <script type="text/javascript" src="app/lib/angular-material-icons/angular-material-icons.min.js"></script>
    <script type="text/javascript" src="app/lib/angular-messages/angular-messages.min.js"></script>
    <script type="text/javascript" src="app/app.js"></script>
    <script type="text/javascript" src="app/js/services/auth-service.js"></script>
    <script type="text/javascript" src="app/js/services/trello-api.js"></script>
    <script type="text/javascript" src="app/js/services/favorite-cards-service.js"></script>
    <script type="text/javascript" src="app/js/controllers/login-controller.js"></script>
    <script type="text/javascript" src="app/js/controllers/trello-checklists-controller.js"></script>
    <script type="text/javascript" src="app/js/directives/boards/show-trello-boards.js"></script>
    <script type="text/javascript" src="app/js/directives/cards/show-trello-cards.js"></script>
    <script type="text/javascript" src="app/js/directives/card/trello-card.js"></script>
  </body>
</html>