<!DOCTYPE html>
<html ng-app="chrome.plugin.trynew">
  <head>
    <title>Trello Checklists</title>
    <link rel="stylesheet" type="text/css" href="app/lib/angular-material/angular-material.min.css">
    <link rel="stylesheet" type="text/css" href="app/lib/angular-material-icons/angular-material-icons.css">
    <link rel="stylesheet" type="text/css" href="app/css/style.css">
  </head>
  <body ng-controller="TryNewRootController as vm" layout="row" ng-cloak>
    <div layout="column" flex>
      <md-content flex>
        <div ng-if="vm.loginRequired">
          <md-button class="md-raised md-primary" ng-click="vm.trelloLogin()">
            <md-icon md-svg-icon="save"></md-icon> Trello Login
          </md-button>
        </div>
        <div ng-if="!vm.loginRequired">
          You are logged into Trello.
          <md-button class="md-raised md-primary" ng-click="vm.trelloLogout()">
            <md-icon md-svg-icon="save"></md-icon> Trello Logout
          </md-button>
        </div>
      </md-content>
    </div>
    <script type="text/javascript" src="app/lib/jquery/dist/jquery.min.js"></script>
    <script type="text/javascript" src="https://trello.com/1/client.js?key=d26d90d17f78f98331402788309ca75d"></script>
    <script type="text/javascript" src="app/lib/angular/angular.min.js"></script> 
    <script type="text/javascript" src="app/lib/angular-animate/angular-animate.min.js"></script>
    <script type="text/javascript" src="app/lib/angular-aria/angular-aria.min.js"></script>
    <script type="text/javascript" src="app/lib/angular-material/angular-material.min.js"></script>
    <script type="text/javascript" src="app/lib/angular-material-icons/angular-material-icons.min.js"></script>
    <script type="text/javascript" src="app/lib/angular-messages/angular-messages.min.js"></script>
    <script type="text/javascript" src="app/app.js"></script>
  </body>
</html>