<!DOCTYPE html>
<html ng-app="chrome.plugin.trello.checklist">
  <head>
    <title>Trello Checklists</title>
    <link rel="stylesheet" type="text/css" href="app/lib/angular-material/angular-material.min.css">
    <link rel="stylesheet" type="text/css" href="app/lib/angular-material-icons/angular-material-icons.css">
    <link rel="stylesheet" type="text/css" href="app/css/style.css">
  </head>
  <body ng-controller="TrelloLoginController as vm" layout="row" ng-cloak>
    <div layout="column" flex>
      <md-content flex>
        <div ng-if="!vm.loginRequired">
          <h2>You are logged with Trello.</h2>
          <h3>Enjoy Trello Checklists</h3>
          <md-button class="md-raised md-warn" ng-click="vm.trelloLogout()">
            <md-icon md-svg-icon="close"></md-icon>Logout
          </md-button>
        </div>
      </md-content>
    </div>
    <script type="text/javascript" src="app/lib/jquery/dist/jquery.min.js"></script>
    <script type="text/javascript" src="app/utils/trello-client.js"></script>
    <script type="text/javascript" src="app/lib/angular/angular.min.js"></script> 
    <script type="text/javascript" src="app/lib/angular-animate/angular-animate.min.js"></script>
    <script type="text/javascript" src="app/lib/angular-aria/angular-aria.min.js"></script>
    <script type="text/javascript" src="app/lib/angular-material/angular-material.min.js"></script>
    <script type="text/javascript" src="app/lib/angular-material-icons/angular-material-icons.min.js"></script>
    <script type="text/javascript" src="app/lib/angular-messages/angular-messages.min.js"></script>
    <script type="text/javascript" src="app/app.js"></script>
    <script type="text/javascript" src="app/js/services/auth-service.js"></script>
    <script type="text/javascript" src="app/js/services/trello-api.js"></script>
    <script type="text/javascript" src="app/js/controllers/login-controller.js"></script>
  </body>
</html>