
.card-with-no-checklist-items {
  background-color: #ccc7c7f7 !important;
  color: #737373 !important;
}

.no-margin {
  margin: 0px !important;
}

.green-icon {
  color: green !important;
}

.red-icon {
  color: red !important;
}

.avatar {
  padding: 5px;
  border-radius: 50%;
}

.title-name {
  line-height: 60px;
  vertical-align: middle;
  font-size: 20px;
  font-weight: 400;
}

.float-left {
  float: left;
}

