<md-card style="background-color: #0179BF">
    <md-card-title>
        <md-card-title-text>
        <span class="md-headline">Trello Checklists</span>
        <span class="md-subhead">Login with Trello to enjoy.</span>
        </md-card-title-text>
    </md-card-title>
    <img src="/images/trello-fox.png" class="md-card-image">
    <md-card-actions layout="row" layout-align="end center">
        <md-button class="md-raised md-primary" ng-click="vm.login()">Login</md-button>
    </md-card-actions>
</md-card>