<div ng-controller="TryNewMusicController as vm">
  <md-content layout-padding>
    <div>
      <md-autocomplete
              md-selected-item="vm.newSelectedMusic"
              md-search-text="vm.searchText"
              md-selected-item-change="vm.selectedItemChange(item)"
              md-items="item in vm.querySearch(vm.searchText)"
              md-selected-item-change="vm.musicSelected(item)"
              md-item-text="item.title"
              md-min-length="3"
              md-clear-button="true"
              placeholder="Try new music"
              md-menu-class="autocomplete-custom-template">
            <md-item-template>
              <div layout="row">
                <div>
                  <img ng-src="{{item.imageUrl}}" width="100" height="75">
                </div>
                <div layout="column" class="suggestion-book-details">
                  <div><strong>{{item.title}}</strong></div>
                </div>
              </div>
            </md-item-template>
            <md-not-found>
              Not music found for "{{vm.searchText}}".
            </md-not-found>
        </md-autocomplete>
    </div>
  </md-content>
  
  <md-content ng-if="vm.newSelectedMusic" layout-padding>
    <div layout="row">
        <div flex="40">
          <img ng-src="{{vm.newSelectedMusic.imageUrl}}" width="100" height="75">
        </div>
        <div layout="column" class="suggestion-book-details" flex="50">
          <div><strong>{{vm.newSelectedMusic.title}}</strong></div>
        </div>
        <div flex="10">
          <md-button class="md-icon-button"  ng-click="vm.addNewMusic()" aria-label="Add">
            <md-icon md-svg-icon="add"></md-icon>
          </md-button>
        </div>
    </div>
  </md-content>
  
  <md-content>
    <section>
      <md-subheader class="md-primary">Your music</md-subheader>
      <md-list layout-padding>
        <md-list-item ng-repeat="music in vm.myMusic track by music.id" 
                      class="noright book-list" layout="row" layout-padding>
            <div flex="40" class="md-primary">
              <img ng-src="{{music.imageUrl}}" width="100" height="75">
            </div>
            <div flex="50">
              <div>
                <strong>
                  <a ng-href="https://www.youtube.com/watch?v={{music.id}}/" target="_blank"> {{music.title}}
                  </a>          
                </strong>
              </div>
            </div>
            <div flex="10">
              <md-button class="md-icon-button remove-book md-primary" aria-label="Remove"
                        ng-click="vm.deleteMusic(music)">
                <md-icon md-svg-icon="close"></md-icon>
              </md-button>
            </div>
        </md-list-item>
      </md-list>
    </section>
  </md-content>
  
</div>