<div>
    <md-input-container style="width: 100%">
        <label>Select Board</label>
        <md-select ng-model="showTrelloBoardsController.selectedBoard">
            <md-option ng-repeat="board in showTrelloBoardsController.boards" ng-value="board" ng-disabled="board.closed">
            {{board.name}}
            </md-option>
        </md-select>
    </md-input-container>

    <div ng-if="showTrelloBoardsController.selectedBoard">
            {{showTrelloBoardsController.selectedBoard.name}}/{{showTrelloBoardsController.selectedBoard.id}}
    </div>
    
</div>